# Configuración de Entorno para Licitaciones Mercado Público

# Claves de APIs
LICIT_CMF_API_KEY=""
LICIT_MERCADO_PUBLICO_TICKET=""

# URLs Base
LICIT_FX_PROVIDER_URL="https://api.exchangerate.host/latest"

# Logging & Entorno
LICIT_LOG_LEVEL="INFO"
LICIT_ENV="development"
